.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.diode {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.2rem;
    transition: 0.2s linear;
}

.digital-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.clock-number {
    font-size: 2.6rem;
    margin: 0 0.5rem 0 0.5rem;
    transition: 0.2s linear;
    animation: show 0.3s;
}

.clock-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1.2rem 0 1.2rem;
}

.clock-row {
    display: flex;
    flex-direction: column-reverse;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 5rem auto 1.5rem auto;
    transition: 0.2s linear;

    &::after {
        content: '';
        display: block;
        background: url(../images/settings.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 4.2rem;
        height: 4.2rem;
    }
}

.analog-clock {
    margin: 3rem 0 0 0;
}

.clock-face {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: transparent;
    border: 3px solid;
}

.seconds-hand {
    @include hand;

    width: 46%;
    height: 2px;
}

.minutes-hand {
    @include hand;

    width: 42%;
    height: 3px;
}

.hours-hand {
    @include hand;

    width: 35%;
    height: 3px;
}


.colorSet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto 0 auto;
    transition: 0.2s linear;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show 0.3s;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    background: transparent;
}

.option-diode {
    margin: 0 1rem 0 0;
    width: 3rem;
    height: 3rem;
}

.city-input {
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;
    background: none;
    border: 0.1rem solid;
    border-radius: 2rem;
    text-align: center;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0 auto;
    transition: 0.2s linear;
    cursor: pointer;
    width: fit-content;
    animation: show 0.3s;
}

.weather-row {
    display: flex;
}

.info-temp {
    font-size: 4rem;
    transition: 0.2s linear;
}

.info-city {
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.weather-icon {
    font-size: 4rem;
    margin: 0 0 0 1rem;
    transition: 0.2s linear;
}

.fa-kiwi-bird {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.2s linear;
    margin: 0.2rem;
}

.fa-info-circle {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    transition: 0.2s linear;
}

.full-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 0.2rem solid;
    border-radius: 1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    transform: translateY(-50%);
    z-index: 2;
    transition: 0.2s linear;
    width: fit-content;
    max-width: 95vw;
    animation: show 0.3s;
}

.full-info-column {
    margin: 1.5rem;
}

.full-info-text {
    transition: 0.2s linear;
}


@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*  MEDIA  */

@media only screen and (max-height: 700px) {
    .clock {
        margin: 11vh auto 0 auto;
    }

    .menu-button {
        margin: 3rem auto 1.5rem auto;
    }
}

@media only screen and (max-height: 500px) {
    .clock {
        margin: 5vh auto 0 auto;
    }
}


.none {
    display: none;
}