* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Play', sans-serif;
}

body {
    background: black;
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 18vh auto 0 auto;
}

figure {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.2rem;
    transition: 0.2s linear;
}

.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1.2rem 0 1.2rem;
}

.tens,
.unities {
    display: flex;
    flex-direction: column-reverse;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 5rem auto 1.5rem auto;
    transition: 0.2s linear;
}

.menu::after {
    content: '';
    display: block;
    background: url(settings.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.2rem;
    height: 4.2rem;
}

.colorSet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto 0 auto;
    transition: 0.2s linear;
}

.clock p {
    margin: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    transition: 0.2s linear;
    animation: show 0.3s;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show 0.3s;
}

.numberOption,
.weatherOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0 0 0;
    cursor: pointer;
    font-size: 2rem;
}

.numberOptionLed,
.weatherOptionLed {
    margin: 0 1rem 0 0;
}

.city {
    width: 12rem;
    height: 3rem;
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;
    background: none;
    border: 0.1rem solid;
    border-radius: 2rem;
    text-align: center;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0 auto;
    transition: 0.2s linear;
    cursor: pointer;
    width: fit-content;
    animation: show 0.3s;
}

.center {
    display: flex;
    flex-direction: row;
}

.temp {
    font-size: 4rem;
    transition: 0.2s linear;
}

.pressure {
    font-size: 2.5rem;
}

.name {
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.weatherIcon {
    font-size: 4rem;
    margin: 0 0 0 1rem;
    transition: 0.2s linear;
}

.fa-kiwi-bird {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.2s linear;
    margin: 0.2rem;
}

.fa-info-circle {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    transition: 0.2s linear;
}

.fullInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 0.2rem solid;
    border-radius: 1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.85);
    font-size: 2rem;
    transform: translateY(-50%);
    z-index: 2;
    transition: 0.2s linear;
    width: fit-content;
    animation: show 0.3s;
}

.fullInfo div {
    margin: 1.5rem;
}

.fullInfo p {
    transition: 0.2s linear;
}

/*  COLORS  */

.redOff {
    background: #240000;
}

.yellowOff {
    background: #222500;
}

.orangeOff {
    background: #281c00;
}

.mintOff {
    background: #002413;
}

.iceOff {
    background: #002324;
}

.blueOff {
    background: #00003e;
}

.purpleOff {
    background: #190024;
}

.pinkOff {
    background: #24001f;
}

.red {
    background: #ff0000;
    box-shadow: 0 0 2rem 0.2rem #ff0000;
}

.yellow {
    background: #f0ff00;
    box-shadow: 0 0 2rem 0.2rem #f0ff00;
}

.orange {
    background: #ffb400;
    box-shadow: 0 0 2rem 0.2rem #ffb400;
}

.mint {
    background: #00ff5a;
    box-shadow: 0 0 2rem 0.2rem #00ff5a;
}

.ice {
    background: #00ffd8;
    box-shadow: 0 0 2rem 0.2rem #00ffd8;
}

.blue {
    background: #0042ff;
    box-shadow: 0 0 2rem 0.2rem #0042ff;
}

.purple {
    background: #ba00ff;
    box-shadow: 0 0 2rem 0.2rem #ba00ff;
}

.pink {
    background: #ff00d8;
    box-shadow: 0 0 2rem 0.2rem #ff00d8;
}

.colorSet figure {
    cursor: pointer;
}

.redOffNumber {
    color: #240000;
}

.yellowOffNumber {
    color: #222500;
}

.orangeOffNumber {
    color: #281c00;
}

.mintOffNumber {
    color: #002413;
}

.iceOffNumber {
    color: #002324;
}

.blueOffNumber {
    color: #00003e;
}

.purpleOffNumber {
    color: #190024;
}

.pinkOffNumber {
    color: #24001f;
}

.redNumber {
    color: #ff0000;
}

.yellowNumber {
    color: #f0ff00;
}

.orangeNumber {
    color: #ffb400;
}

.mintNumber {
    color: #00ff5a;
}

.iceNumber {
    color: #00ffd8;
}

.blueNumber {
    color: #0042ff;
}

.purpleNumber {
    color: #ba00ff;
}

.pinkNumber {
    color: #ff00d8;
}

.red,
.yellow,
.orange,
.mint,
.ice,
.blue,
.purple,
.pink {
    z-index: 1;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*  MEDIA  */

@media only screen and (max-height: 700px) {
    .clock {
        margin: 11vh auto 0 auto;
    }

    .menu {
        margin: 3rem auto 1.5rem auto;
    }
}

@media only screen and (max-height: 500px) {
    .clock {
        margin: 5vh auto 0 auto;
    }
}

/*  REMOVE  */

.none {
    display: none;
    opacity: 0;
}

button {
    width: 10rem;
    height: 10rem;
}