@import url(reset.css);
html{
    font-size: 62.5%;
}
body{
    background: black;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25vh auto 0 auto;
}
figure{
    display: block;
    width: 3rem;
    height: 3rem;
    background: #00003e;
    border-radius: 50%;
    margin: 0.2rem;
    transition: 0.2s;
}
.on{
    background: #0042ff;
    box-shadow: 0 0 2rem 0.2rem #0042ff;
}
.hours, .minutes, .seconds{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 1rem 0 1rem;
}
.tens, .unities{
    display: flex;
    flex-direction: column-reverse
}