* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Play', sans-serif;
}

body {
    background: black;
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15vh auto 0 auto;
}

figure {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.2rem;
    transition: 0.2s;
}

.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 1.2rem 0 1.2rem;
}

.tens,
.unities {
    display: flex;
    flex-direction: column-reverse;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 5rem auto 0 auto;
    transition: 0.2s;
}

.menu::after {
    content: '';
    display: block;
    background: url(settings.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.2rem;
    height: 4.2rem;
}

.colorSet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
    opacity: 1;
    transition: 0.3s;
}

.clock p {
    margin: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    transition: 0.2s;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.3s;
    margin: 0 0 2rem 0;
}

.numberOption,
.weatherOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2.5rem 0 0 0;
    cursor: pointer;
    font-size: 2rem;
    width: 17rem;
}

.numberOptionLed,
.weatherOptionLed {
    margin: 0 1rem 0 0;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
    transition: 0.3s;
}

.weather div {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.temp {
    font-size: 4rem;
}

.pressure {
    font-size: 2.5rem;
}

.weather i {
    font-size: 4rem;
    margin: 0 0 0 2rem;
}

/*  COLORS  */

.redOff {
    background: #240000;
}

.yellowOff {
    background: #222500;
}

.greenOff {
    background: #002501;
}

.mintOff {
    background: #002413;
}

.iceOff {
    background: #002324;
}

.blueOff {
    background: #00003e;
}

.purpleOff {
    background: #190024;
}

.pinkOff {
    background: #24001f;
}

.red {
    background: #ff0000;
    box-shadow: 0 0 2rem 0.2rem #ff0000;
}

.yellow {
    background: #f0ff00;
    box-shadow: 0 0 2rem 0.2rem #f0ff00;
}

.green {
    background: #44ff03;
    box-shadow: 0 0 2rem 0.2rem #44ff03;
}

.mint {
    background: #00ff5a;
    box-shadow: 0 0 2rem 0.2rem #00ff5a;
}

.ice {
    background: #00ffd8;
    box-shadow: 0 0 2rem 0.2rem #00ffd8;
}

.blue {
    background: #0042ff;
    box-shadow: 0 0 2rem 0.2rem #0042ff;
}

.purple {
    background: #ba00ff;
    box-shadow: 0 0 2rem 0.2rem #ba00ff;
}

.pink {
    background: #ff00d8;
    box-shadow: 0 0 2rem 0.2rem #ff00d8;
}

.red,
.yellow,
.green,
.mint,
.ice,
.blue,
.purple,
.pink {
    z-index: 999;
}

.colorSet figure {
    cursor: pointer;
}

.redNumber {
    color: #ff0000;
}

.yellowNumber {
    color: #f0ff00;
}

.greenNumber {
    color: #44ff03;
}

.mintNumber {
    color: #00ff5a;
}

.iceNumber {
    color: #00ffd8;
}

.blueNumber {
    color: #0042ff;
}

.purpleNumber {
    color: #ba00ff;
}

.pinkNumber {
    color: #ff00d8;
}

/*  MEDIA  */

@media only screen and (max-height: 700px) {
    .clock {
        margin: 10vh auto 0 auto;
    }

    .menu {
        margin: 3rem auto 0 auto;
    }
}

@media only screen and (max-height: 580px) {
    .clock {
        margin: 5vh auto 0 auto;
    }

    .weather {
        margin: 0 0 0 0;
    }
}

/*  REMOVE  */

.none {
    visibility: hidden;
    opacity: 0;
}

button {
    width: 10rem;
    height: 10rem;
}